.ctgi-main-container {
  padding: 16px;

  .mat-sort-header-container {
    align-items: center;
  }

  > .result {
    margin-top: 16px;
    font-size: 14px;
  }
}

.ctgi-main-footer {
  padding: 16px;
}
